[Unit]
Description=FileToAzureIoTHub

[Service]
Type=notify
Restart=on-failure
RestartSec=10
ExecStart=/opt/FileToAzureIoTHub/FileToAzureIoTHub

[Install]
WantedBy=multi-user.target